<div class="container mt-20 text-center w-50">
  <div class="text-white mt-30 display-4 text-center">

  <h2 class="mt-20">Word limit : {{limit}}</h2>
</div>

<input type="range"
min="1"
max="20"
class="slider form-control-range"
value="{{limit}}"
(change)="handleSlideChange($event.target.value)"

/>

<button (click)="generator()" class="btn btn-info">
  Generate Words
</button>

<button (click)="countryGenerator()" class="btn btn-info">
  Generate Country
</button>

<div *ngIf="word" class="card card-body">
  <p class="display-4">
    {{ word }}
  <p>
  </div>
<br />
  <div *ngIf="countryword" class="card card-body">
  <p class="display-4">
    {{ countryword}}
  </p>

</div>

</div>

